body{
	padding: 0;
	margin: 0;
	font: normal 14px "Quattrocento","Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow: hidden;
}
.wrap{
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -105px 0 0 -140px;
	height: 210px;
	width: 300px;
	overflow: hidden;
	text-align: center;
}
.name{
	margin: 0 0 10px;
	font-size: 22px;
	line-height: 1;
	font-weight: normal;
}
.name em{
	padding: 5px 0 0;
	font-size: 18px;
}
.logo{
	display: block;
	padding: 5px 0;
	font: 700 50px/1.1 "Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
}
em{
	display: block;
}
a{
	display: inline-block;
	padding: 5px;
	color: #000;
	font-size: 14px;
	text-decoration: none;
	opacity: 0.8;
	letter-spacing: 1px;
	background-color: #ff0;
}
a:hover, a:focus{
	opacity: 1;
}
